{% load static %}
<section class="bg-light py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-space-between gap-5">
            <div class="">
                <img src="{% static "/blog/img/author.png" %}" class="d-block img-fluid" alt="Blog" loading="lazy">
            </div>
            <div class="content">
                <h3>About the Author</h3>
                <p>Fahad Mushtaq is a UI/UX engineer with expertise in data visualization. He has worked on numerous healthcare projects, helping organizations present complex data in clear and actionable ways. He is committed to ensuring that healthcare apps meet regulatory standards and protect patient data.</p>
                <div class="social-container">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>