{% load static %}
<div class="col">
    <div class="card shadow-sm">
        <img src="{% static "/blog/img/"%}{{ post.image }}" class="d-block mx-lg-auto img-fluid" alt="{{ post.title }}" loading="lazy">
        <div class="card-body">
            <h5 class="card-text">{{ post.title }}</h5>
            <p>{{ post.excerpt |truncatechars:200 }}</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{ post.get_absolute_url }}" type="button" class="btn btn-sm btn-success">Read More <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </div>
            <small class="text-body-secondary"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date }}</small>
            <small class="text-body-secondary bold"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ post.author }}</a></small>
            </div>
        </div>
    </div>
</div>