.blog-head-text {
    padding: 15px;
}

.bs-success {
    color: #198754;
}

.call_to_action {
    background-color: #20c997;
    color: #fff;
}

.fwb400 {
    font-weight: 400;
}

.blockquote-footer cite {
    color: #fff;
    font-size: 20px;
}

article.blog-post h3 {
    font-size: 22px;
}