{% extends "layout.html" %}
{% load custom_filters %}
{% load static %}
{% block page_title %}<title>{{post.title}}</title>{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/style.css" %}"> 
{% endblock %} 
{% block content %}
<main>
<section>
    <div class="container"> 
    <div class="row">
        <div class="col-md-8">
            <div class="text-body-emphasis py-5">
                <div class="blog-head-image">
                    <img src="{% static "/blog/img/"%}{{ post.image }}" class="d-block mx-lg-auto img-fluid" alt="{{ post.title }}" loading="lazy">
                </div>
                <div class="blog-head-text shadow-lg">
                    <h1 class="display-5 fwb400">{{ post.title }}</h1>
                    <p class="blog-post-meta m-0">By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></p>
                    <time>{{post.date}}</time>
                    <div>
                        {% for tag in tags %}
                          <span class="badge rounded-pill bg-success">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
         <article class="blog-post mb-5">
            <p>{{ post.excerpt }}</p>
            <hr>
            {{ post.content|remove_quotes|safe }}
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky py-5 pb-3">
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            {% for post in latest_post %}
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url "dynamic-post" post.slug %}">
                <img style="height:80px" src="{% static "/blog/img/"%}{{ post.image }}" class="d-block mx-lg-auto img-fluid" alt="Blog" loading="lazy">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{post.title}}</h6>
                  <small class="text-body-secondary mt-2 text-secondary">By {{post.author}}</small>
                  <small class="text-body-secondary d-block text-secondary">{{post.date}}</small>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0 pt-2 border-top">
            {% for post in all_posts %}
                <li><a href="{% url "dynamic-post" post.slug %}">{{ post.date|date:"d M Y" }}</a></li>
            {% endfor %}
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Topoics Covered</h4>
          <ol class="list-group list-group-numbered">
            {% for tag in tags %}
              <li class="list-group-item">{{ tag }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>
<section class="call_to_action py-5">
    <div class="container">
        <div class="text-center py-5">
            <p class="display-6 fst-italic">For more insights and personalized guidance, contact our team of experts. Together, we can make a meaningful impact on healthcare delivery.</p>
            <a href="" class="btn btn-lg btn-secondary">Contact Us</a>
        </div>
    </div>
</section>
  {% include "blog/includes/author.html" %}
</main>
{% endblock %}